.genres {
    display: flex;
    .genre {
        background-color: var(--maroon);
        padding: 3px 5px;
        margin: 2px;
        font-size: 12px;
        border-radius: 4px;
        color: white;
        white-space: nowrap;
    }
}